@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@theme {
  /* BRAND ACTIONS */
  --color-brand-primary: #4164b0;
  --color-brand-light: #dde5ed;

  /* BACKGROUNDS */
  --color-bg-primary: #f7f7f4;
  --color-bg-secondary: #f2f1ed;
  --color-bg-tertiary: #ebeae5;

  /* SUCCESS */
  --color-success: #6dbf8d;
  --color-success-light: #dcfce7;
  --color-success-tint: #f2f5f0;

  /* WARNING */
  --color-warning: #d96262;
  --color-warning-light: #fee2e2;
}

body {
  background: var(--color-bg-primary);
  color: #111;
}
